
/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

/* ROOTS */

:root {
    --mulish: 'Mulish', sans-serif;
    --open: 'Open Sans', sans-serif;

    --c1: #89C5CC;
    --c2: #7D7987;  
    --c3: #434343;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--open);
    text-decoration: none;
    list-style-type: none
}


body {
    background: linear-gradient(180deg, rgba(227,255,248,0) 82vh, rgba(227,255,248,0.38)100vh);
    min-height: 100vh;
    max-height: 100vh;
}


.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    font-family: var(--mulish);
}


ul {
    display: flex;
    gap: 48px;
}


nav h1 {
    font-size: 22px;
    line-height: 56px;
    font-weight: normal;
    font-family: var(--mulish);
    color: var(--c1);
}


main {
    display: flex;
    align-items: center;
    gap: 102px;
}


#woman-img {
    width: 417px;
    height: 434px;
}


section p {
    color: var(--c2);
    font-size: 14px;
    line-height: 28px; 
    font-style: normal;
    margin-bottom: 40px;
    width: 370px;
    opacity: 0.85;
}


li a {
    color: var(--c2);
    opacity: 0.6;
}


li a:hover {
    color: var(--c3);
    opacity: 1;
}

main section h2 {
    font-family: var(--mulish);
    font-size: 49px;
    color: var(--c3);
    font-weight: normal;
    line-height: 56px;
    width: 490px;
    margin-bottom: 40px;
}

h2 span {
    color: var(--c1);
    font-weight: bold;
}


button {
    text-transform: uppercase;
    font-family: var(--open);
    color: white;
    background: var(--c1);
    border-radius: 4px;
    width: 180px;
    height: 50px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}


button:hover {
    background: #95cfd6;
}


footer {
    font-size: 14px;
    line-height: 28px;
    margin: 80px auto 30px;
    text-align: center;
}


footer a {
    font-weight: bold;
    color: var(--c1);
}


footer a:hover {
    color: #95cfd6;
}


#balls {
    position: fixed;
    right: 0;
    bottom: 0;
}